<div
  class="history-card"
  [class.dark]="theme.isDark()"
  (mouseenter)="hovered = true"
  (mouseleave)="hovered = false"
>
  <!-- Title -->
  <h3 class="article-title" (click)="openLink()">
    {{ title }}
  </h3>

  <!-- Bottom row -->
  <div class="bottom-row">
    <span class="time">{{ time }}</span>
    <button
      class="delete-btn"
      [class.visible]="hovered"
      (click)="deleteHistory($event)"
      matTooltip="Remove from history"
    >
      <mat-icon>delete_outline</mat-icon>
    </button>
  </div>
</div>
